{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'title'%}
    {%include 'tuto_stylesheet.html'%}
    
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link href="{%static 'css/side_nav.css'%}" rel="stylesheet">

</head>
<body>
    <div class="hero_area">
        {% include "navigation.html" %}
        {% include "user_tuto.html"%}
    </div>
    {% block content %}
     {%include "tuto-a.html"%}
    {% endblock %}
    {%include "footer"%}
</body>
</html>