{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="sub_page">
    <section class=" edutim-course-single">
        <div class="course-single-wrapper">
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-lg-8">
                        <div class="course-single-header white-text">
                            <span class="subheading">Frontend Development</span>
                            <h3 class="single-course-title">Information About Html 5 Course</h3> 
                            <p>Html also known as Hyper Text Markup Language is a Language used to build websites</p> 
                            <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-block">Audit This Course</a></div>
                        </div>
                   </div>
    
                   <div class="col-lg-4">
                        <div class="course-thumb">
                            <img src="{%static 'assets/images/course/html.jpg'%}" alt="" class="img-fluid w-100">
                        </div>
                    </div>
               </div>
           </div>
        </div>
    
    
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav class="course-single-tabs">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
                            <a class="nav-item nav-link" id="nav-topics-tab" data-toggle="tab" href="#nav-topics" role="tab" aria-controls="nav-profile" aria-selected="false">Topics</a>
                            <a class="nav-item nav-link" id="nav-instructor-tab" data-toggle="tab" href="#nav-instructor" role="tab" aria-controls="nav-contact" aria-selected="false">Instructor</a>
                        </div>
                    </nav>
    
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="single-course-details ">
                        <p>The HTML Fundamentals course is designed to provide a comprehensive introduction to HTML (Hypertext Markup Language), which is the standard markup language used for creating web pages. 
                            This course is suitable for beginners who have little to no prior experience with HTML or web development.
                            Throughout the course, you will learn the basic concepts, syntax, and structure of HTML, enabling you to create well-structured and semantically correct web pages.</p>
    
                        <div class="course-widget course-info">
                            <h4 class="course-title">What You will Learn?</h4>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Html Syntax and Structure
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Text Formating and Document Structure
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Hyperlinks and Navigation within HTML pages
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    How to use HTML assets like images and media
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Tables and Form Validations
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Html Shortcuts (emmets) on vscode and Html Semantics
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
        <div class="tab-pane fade" id="nav-topics" role="tabpanel" aria-labelledby="nav-topics-tab">
            <div class="edutim-single-course-segment  edutim-course-topics-wrap">
                <div class="edutim-course-topics-header">
                    <div class="edutim-course-topics-header-left">
                        <h4 class="course-title">Topics for this course</h4>
                    </div>
                </div>
    
                <div class="edutim-course-curriculum " >
                    <div class="curriculum-scrollable">
                        <ul class="curriculum-sections">
                            <li class="section">
                                <div class="section-header">
                                  <div class="section-left">
                                        <h5 class="section-title">Section 1</h5>
                                        <p class="section-desc">Dacere agemusque constantius concessis elit videmusne quia stoici constructio dissimillimas audiunt homerus commendationes</p>
                                  </div>
                                </div>
                  
                              <ul class="section-content">
                                  <li class="course-item has-status course-item-lp_lesson">
                                      <a class="section-item-link" href="#">
                                        <span class="item-name">Lesson 1</span>
                                        <div class="course-item-meta">
                                          <span class="item-meta duration">10 min</span>
                                          <i class="item-meta course-item-status"></i>
                                        </div>
                                      </a>
                                  </li>
                                  <li class="course-item has-status course-item-lp_lesson">
                                     <a class="section-item-link" href="#">
                                        <span class="item-name">Lesson 2</span>
                                        <div class="course-item-meta">
                                          <span class="item-meta duration">30 min</span>
                                          <i class="item-meta course-item-status" ></i>
                                        </div>
                                     </a>
                                      
                                  </li>
                                  <li class="course-item course-item-lp_quiz course-item-lp_lesson">
                                     <a class="section-item-link" href="#">
                                      <span class="item-name">Quiz 1</span>
                                      <div class="course-item-meta">
                  
                                        <span class="item-meta count-questions">14 questions</span>
                                        <span class="item-meta duration">10 min</span><i class="fa item-meta course-item-status trans"></i>
                                      </div>
                                     </a>
                                    </li>
                              </ul>
                            </li>
                  
                            <li class="section">
                              <div class="section-header">
                                <div class="section-left">
                                      <h5 class="section-title">Section 2</h5>
                                      <p class="section-desc">Dacere agemusque constantius concessis elit videmusne quia stoici constructio dissimillimas audiunt homerus commendationes</p>
                                </div>
                              </div>
                  
                              <ul class="section-content">
                                <li class="course-item has-status course-item-lp_lesson">
                                      <a class="section-item-link" href="#">
                                        <span class="item-name">Lesson 1</span>
                                        <div class="course-item-meta">
                                          <span class="item-meta duration">10 min</span>
                                          <i class="item-meta course-item-status"></i>
                                        </div>
                                      </a>
                                  </li>
                              </ul>
                          </li>
                        </ul>
                     </div>
                  </div>
            </div>
        <!--  COurse Topics End -->
    
        </div>
            <div class="tab-pane fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-instructor-tab">
                <div class="course-widget course-info">
                    <h4 class="course-title">About the instructors</h4>
                    <div class="instructor-profile">
                       
                        <div class="profile-info">
                            <h5>Achidi Malik-Al Faycal</h5>
                            <p>I'm a developer with a passion of creating softwares and innvating systems. I am currently holder of the Bachelors Degree in Software Engineering and was a led instructor in HTML 5 in 2021 for a startup. I've helped about 70 students learn to develop a web page and changed their lives by becoming developers</p>
                            <div class="instructor-courses">
                                <span><i class="bi bi-folder"></i>4 Courses</span>
                                <span><i class="bi bi-group"></i>400 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
    
                
        </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="course-sidebar">
                        <div class="course-price-wrapper mb-4">
                            <div class="course-price"><h4>Price: <span>$13.0</span></h4></div>
                            <div class="buy-btn"><a href="#" class="btn btn-main btn-block">Buy This Course</a></div>
                            <br>
                            <div class="buy-btn"><a href="{%url 'cart_check:cart'%}" class="btn btn-main-2 btn-block">Add to Cart</a></div>
                        </div>
    
                        <div class="course-widget course-details-info">
                            <h4 class="course-title">Course Overview</h4>
                            <ul>
                                <li>
                                    <div>
                                        <span><i class="far fa-user"></i>Instructor :</span>
                                        <a href="#" class="d-inline-block">Achidi Malik-Al Faycal</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span><i class="fa fa-sliders-h"></i>Skill level : </span>
                                        Beginner
                                    </div>
                                </li>
    
                                <li>
                                    <div>
                                        <span><i class="fa fa-user"></i>Enrolled :</span>
                                        <a href="#" class="d-inline-block">42</a>
                                    </div>
                                </li>
    
                                <li>
                                    <div>
                                        <span><i class="fa fa-clock"></i>Duration :</span>
                                        2 weeks
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span><i class="far fa-file-alt"></i>Lessons :</span>
                                        7
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span><i class="far fa-flag"></i>Language :</span>
                                        English
                                    </div>
                                </li>
                            </ul>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
