{%load static%}
<div class="sidebar">
    <ul class="menu">
        <div class="part">
            <h3><a style="color:purple" href="{%url 'tutos:html_introduction'%}">Introduction To HTML</a></h3>
            <li>What is html</li>
            <li>Description of Html code on Browser</li>
            <li>Introduction to html tags</li>
        </div>
        <div class="part">
            <h3><a style="color:purple" href="{%url 'tutos:html_structure'%}">HTML Structure</a></h3>
            <li>Html Head</li>
            <li>Html Page Title</li>
            <li>Html Style</li>
            <li>Html Charset</li>
            <li>Html Attributes and Html Elements</li>
            <li>Web Browsers</li>
            <li>Html Basic Structure</li>
        </div>
        <div class="part">
            <h3><a style="color:purple" href="{%url 'tutos:html_textformating'%}">HTML Text Formating</a></h3>
            <li>Html headings</li>
            <li>Html Paragraphs</li>
            <li>Html Bolds</li>
            <li>Html Strongs</li>
            <li>Html Attributes</li>
            <li>Html Spans</li>
        </div>
        <div class="part">
            <h3><a style="color:purple" href="">HTML Media</a></h3>
            <li>Html Images</li>
            <li>Html Media</li>
            <li>Html Audio</li>
            <li>Html Iframes</li>
            <li>Html Youtube</li>
            <li>Html Plug-ins</li>
        </div>
        <div class="part">
            <h3><a style="color:purple" href="">HTML List and Tables</a></h3>
            <li>Html List</li>
            <li>Html Tables</li>
        </div>
        <div class="part">
            <h3><a style="color:purple" href="">HTML Forms & Divs</a></h3>
            <li>Html Forms</li>
            <li>Form Attributes</li>
            <li>Form Elements</li>
            <li>Html Input Types</li>
            <li>Html Input Attributes</li>
            <li>Html Input Form Attributes</li>
            <li>Html Divs</li>
            <li>Html Classes</li>
            <li>Html Id</li>
        </div>
        <div class="part">
            <h3><a style="color:purple" href="">Advance tags and Html Emmets for VSCode</a></h3>
            <li>Other Html Tags</li>
            <li>VSCode Emmets for Html</li>
            <li>Quiz</li>
        </div>
    </ul>
</div>


