{%load static%}
<div class="sidebar">
    <ul class="menu">
        <div class="part">
            <h3>Introduction To HTML</h3>
            <li><a href="{%url 'tutos:html_introduction'%}">What is html</a></li>
            <li><a href="#">Description of Html code on Browser</a></li>
            <li><a href="#">Introduction to html tags</a></li>
        </div>
        <div class="part">
            <h3>Html Structure</h3>
            <li><a href="#">Html Head</a></li>
            <li><a href="#">Html Page Title</a></li>
            <li><a href="#">Html Charset</a></li>
            <li><a href="#">Html Page Description</a></li>
            <li><a href="#">Html Body</a></li>
            <li><a href="#">Html Semantics</a></li>
        </div>
        <div class="part">
            <h3>HTML Text Formating</h3>
            <li><a href="#">Html headings</a></li>
            <li><a href="#">Html Paragraphs</a></li>
            <li><a href="#">Html Bolds</a></li>
            <li><a href="#">Html Strongs</a></li>
            <li><a href="#">Html Attributes</a></li>
            <li><a href="#">Html Spans</a></li>
        </div>
        <div class="part">
            <h3>HTML Media</h3>
            <li><a href="#">Html Images</a></li>
            <li><a href="#">Html Media</a></li>
            <li><a href="#">Html Audio</a></li>
            <li><a href="#">Html Iframes</a></li>
            <li><a href="#">Html Youtube</a></li>
            <li><a href="#">Html Plug-ins</a></li>
        </div>
        <div class="part">
            <h3>HTML List and Tables</h3>
            <li><a href="#">Html List</a></li>
            <li><a href="#">Html Tables</a></li>
        </div>
        <div class="part">
            <h3>HTML Forms & Divs</h3>
            <li><a href="#">Html Forms</a></li>
            <li><a href="#">Form Attributes</a></li>
            <li><a href="#">Form Elements</a></li>
            <li><a href="#">Html Input Types</a></li>
            <li><a href="#">Html Input Attributes</a></li>
            <li><a href="#">Html Input Form Attributes</a></li>
            <li><a href="#">Html Divs</a></li>
            <li><a href="#">Html Classes</a></li>
            <li><a href="#">Html Id</a></li>
        </div>
        <div class="part">
            <h3>Advance tags and Html Emmets for VSCode</h3>
            <li><a href="#">Other Html Tags</a></li>
            <li><a href="#">VSCode Emmets for Html</a></li>
            <li><a href="#">Quiz</a></li>
        </div>
    </ul>
</div>
