{%load static%}

  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
        <a class="navbar-brand mr-5" href="{%url 'shop:index'%}">
          <img src="{% static 'images/logo_1.png'%}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              {%if request.user.is_staff == True%}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'shop:index'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'shop:sales'%}">Shop</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'shop:test'%}">Work Pane</a>
              </li>
              {%elif request.user.is_authenticated == True%}
              <li class="nav-item active">
                  <a class="nav-link" href="{%url 'shop:sales'%}">Shop</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'tutos:listone'%}">Our Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'tutos:index'%}">My Courses</a>
                </li>
                <li class="nav-item">
                 <a href="{%url 'shop:logout'%}" class="nav-link">Logout</a>
                </li>

              {%else%}
              <li class="nav-item ">
                <a class="nav-link" href="{%url 'shop:index'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service"> Service </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'shop:contact'%}">Contact us</a>
              </li>
              <li class="nav-item">
                <a href="{%url 'user_auth:login'%}" class="nav-link">Get Started</a>
              </li>
              {%endif%}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

