<div class="signup-login_form">
    <section class="wrapper">
      <div class="form signup"> 
        <header style="color:#e93f1a">Reset Password</header>
       
        <form action="" method="post">
          {% csrf_token %}
            <input type="password" name="new_password" placeholder="New Password" required />
            <input type="password" name="confirm_password"placeholder="Confirm New Password" required />
            <input class="button_submit" type="submit" value="Submit">
            
            </div>
        </form>
    </div>
    </section>
  </div>  