<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%include "stylesheet_imports.html"%}
  {%include "title"%}
</head>
<body class="sub_page">
    <div class="body_bg layout_padding">
        <section class="service_section">
          <div class="container">
            <div class="heading_container">
              <h2>
                Available Subscriptions
              </h2>
            </div>
          <div class="container">
            <div class="row">
                    <div class="col-xl-4">
                      <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                          <div class="card card-size">
                             
                              <div class="card-body">
                                <div class="underline">
                                  <h1 class="card-title text-center border-text" style="color: aqua;">Starter</h1>
                                  <h5>Get started on your IT learning journey with our Starter subscription.</h5>
                                  <h2  class="card-title text-center" style="font-weight: bold;">2,500 XAF/mo</h2>
                                  <div class="btn-container">
                                    <a href="#" class="btn text-center">Select</a>
                                  </div>
                                  <br>
                                </div>
                                <br>
                            <ul class="custom-list">
                              <li>Access to basic course materials</li>
                              <li>Limited access to practice exercises</li>
                              <li>Access to community forums</li>
                              <li>Certificate of completion</li>
                              <li class="crossed-item">Access to webinar recordings</li>
                              <li class="crossed-item">Personalized learning plans</li>
                              <li class="crossed-item">Live instructor-led sessions</li>
                            </ul>
                              </div>
                            </div>
                      </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div class="card card-size">
                      
                            <div class="card-body">
                              <div class="underline">
                                <h1 class="card-title text-center border-text" style="color: rgb(56, 145, 254);">Standard</h1>
                                <h5 class="card-title text-center">Take your IT skills to the next level with our Standard subscription.</h5>
                                <h2 class="card-title text-center" style="font-weight: bold;">20,000 XAF/mo</h2>
                                <div class="btn-container">
                                  <a href="#" class="button text-center">Select</a>
                                </div>
                                <br>
                              </div>
                              <br>
                            <ul class="custom-list">
                              <li>Access to all course materials</li>
                              <li>Full Access to practice exercises</li>
                              <li>Access to community forums</li>
                              <li>Certificate of completion</li>
                              <li>Access to webinar Recordings</li>
                              <li class="crossed-item">Personalized learning plans</li>
                              <li>Live instructor-led sessions</li>
                            </ul>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-4">
                  <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                      <div class="card card-size">
                          <div class="card-body">
                            <div class="underline">
                              <h1 class="card-title text-center border-text" style="color: blueviolet;">Premium</h1>
                              <h5>Unlock the full potential of your IT career with our Premium subscription.</h5>
                              <h2 class="card-title text-center"style="font-weight: bold;">35,000 XAF/mo</h2>
                              <div class="btn-container">
                                <a href="#" class="btn text-center">Select</a>
                              </div>
                              <br>
                            </div>
                            <br>
                            <ul class="custom-list">
                              <li>Access to all course materials</li>
                              <li>Full Access to practice exercises</li>
                              <li>Access to community forums</li>
                              <li>Certificate of completion</li>
                              <li>Access to webinar Recordings</li>
                              <li>Personalized learning plans</li>
                              <li>Live instructor-led sessions</li>
                            </ul>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
          </div>

          </div>
        </section>
    </div>
</body>
</html>