{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheet_imports.html" %}
    {% include "title" %}
</head>
<body class="sub_page">
        <section id="about" class="about_section layout_padding">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box2">
                    <div class="heading_container">
                      <h2>
                        Why Choose SOLUX: Unleash Your IT Potential 🚀
                      </h2>
                    </div>
                    <p>
                        Solux offers a vast array of comprehensive courses, covering everything concerning programming and developing a successful IT Project and Software. Gain the in-demand skills you need to excel in the IT industry.
                    </p>
                    <p>
                        Say goodbye to boring lectures! Solux provides an engaging and interactive learning experience. Dive into practical coding exercises, quizzes, and projects that simulate real-world scenarios. Gain hands-on experience and build confidence in your abilities.
                    </p>
                    <a href="{%url 'tutos:index'%}">
                      Get Started
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{%static 'images/contact.jpg'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/team_one.jpg'%}" alt="" style="
                    width: 100%;
                    height: 10%;">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="detail-box2">
                    <div class="heading_container">
                      <h2>
                        🌟 Join Solux today and unlock your developer potential! 🚀
                      </h2>
                    </div>
                    <p>
                      Join us as we dive deep into the intricacies of web technologies and programming, equipping you with the knowledge and expertise to create stunning and functional websites, and build amazing apps. 
                     <br>
                    </p>
                    <a href="contact.html">
                      Contact us
                    </a>
                  </div>
                </div>
              </div>
            </div><br><br>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box2">
                    <div class="heading_container">
                      <h2>
                        Solux Roadmap: Have a Concrete path to follow 🛣️
                      </h2>
                    </div>
                    <p>
                      <br>
                      Are you tired of struggling with your lectures, Confused on the path to take as a developer? Look no further than Solux! 
                      Our innovative platform provides quality courses and guardiance to young developers.
                      <br><br>
                      With our comprehensive curriculum and experienced mentors, you can overcome the struggles of lectures and find clarity in your path as a developer. 
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="video-box" id="advert">
                    <br>
                    <div class="img-box">
                      <img src="{%static 'images/developer.jpg'%}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
</body>
</html>