<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%include "stylesheet_imports.html"%}
  {%include "title"%}
</head>
<body class="sub_page">
    <div class="body_bg layout_padding">
        <section class="service_section">
          <div class="container">
            <div class="heading_container">
              <h2>
                Available Subscriptions
              </h2>
            </div>
          <div class="container">
            <div class="row">
                    <div class="col-xl-4">
                      <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                          <div class="card">
                              <img src="https://drive.google.com/uc?id=1PSUn1nL7n33sufn8YbousAfHNrqIJOj-" class="card-img-top" >
                              <div class="card-body">
                                <h4 class="card-title text-center">Free Plans</h4>
                                <h1 class="card-title text-center">0 FCFA</h1>
                                <div class="btn-container">
                                  <a href="#" class="btn text-center">Select</a>
                                </div>
                              </div>
                            </div>
                      </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div class="card">
                            <img src="https://drive.google.com/uc?id=1PSUn1nL7n33sufn8YbousAfHNrqIJOj-" class="card-img-top" >
                            <div class="card-body">
                              <h4 class="card-title text-center">Standard Plans</h4>
                              <h1 class="card-title text-center">20,000 FCFA</h1>
                              <div class="btn-container">
                                <a href="#" class="btn text-center">Select</a>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-4">
                  <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                      <div class="card">
                          <img src="https://drive.google.com/uc?id=1PSUn1nL7n33sufn8YbousAfHNrqIJOj-" class="card-img-top" >
                          <div class="card-body">
                            <h4 class="card-title text-center">Premium Plans</h4>
                            <h1 class="card-title text-center">35,000 FCFA</h1>
                            <div class="btn-container">
                              <a href="#" class="btn text-center">Select</a>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
          </div>

          </div>
        </section>
    </div>
</body>
</html>