<section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <div>
                    <h1>
                      Welcome To SOLUX<br>
                      <span>
                        Solution Providing Services For Continuous Assessments and Assignments
                      </span>
                    </h1>
                    <p>
                      It is a long established fact that a having accurate solutions and materials needed for courses as 
                      a student saves a lot of time
                      <br>
                      Online platform that provides solutions for Continuous Assessements in a more organized and professional
                      manner
                      Accuracy rate of 95.6%
                    </p>
                    <div class="btn-box">
                      <a href="{%url 'user_auth:login'%}" target ="blank"class="btn-1">
                        Login
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <div>
                    <h1>
                      Welcome To Solux <br>
                      <span>
                        Illuminate your Learning Journey and Development Skill
                      </span>
                    </h1>
                    <p>
                      Solux is an innovative tutorial platform that illuminates your learning journey, offering a dynamic and empowering educational experience. 
                      With a focus on fostering knowledge, growth, and personal development, Solux provides a range of comprehensive tutorials to cater to learners of all backgrounds and skill levels.
                      <br>
                      This platform includes courses to build a student in IT Development
                    </p>
                    <div class="btn-box">
                      <a href= "{%url 'user_auth:login'%}" class="btn-1">
                        Get Started
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom_carousel-control">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>