{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="sub_page">
    <section class="section-padding course">
        {%include 'tuto_searchbar.html'%}
    
    
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="course-block">
                        <div class="course-img">
                            <img src="{%static 'assets/images/course/algo.jpg'%}" alt="" class="img-fluid">
                       
                        </div>
                        
                        <div class="course-content">
                            <div class="course-price ">Free</div>   
                            
                            <h4><a href="#">Algorithms & Datastructures</a></h4>    
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <span>(5.00)</span>
                            </div>
                            <p>Master the Fundamentals Of Programming with Python</p>
    
                            <div class="course-footer d-lg-flex align-items-center justify-content-between">
                                <div class="course-meta">
                                    <span class="course-student"><i class="bi bi-group"></i>340</span>
                                    <span class="course-duration"><i class="bi bi-badge3"></i>82 Lessons</span>
                                </div> 
                               
                                <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-small">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="course-block">
                        <div class="course-img">
                            <img src="{%static 'assets/images/course/cprog.jpg'%}" alt="" class="img-fluid">
                            
                        </div>
                        
                        <div class="course-content">
                            <div class="course-price ">7,000 XAF</div>   
                            
                            <h4><a href="#">C/C++ Programming</a></h4>    
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <span>(5.00)</span>
                            </div>
                            <p>Master the Fundamentals Of Web Development</p>
    
                            <div class="course-footer d-lg-flex align-items-center justify-content-between">
                                <div class="course-meta">
                                    <span class="course-student"><i class="bi bi-group"></i>340</span>
                                    <span class="course-duration"><i class="bi bi-badge3"></i>82 Lessons</span>
                                </div> 
                               
                                <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-small">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="course-block">
                        <div class="course-img">
                            <img src="{%static 'assets/images/course/photoshop.jpg'%}" alt="" class="img-fluid">
                            
                        </div>
                        
                        <div class="course-content">
                            <div class="course-price ">7,200 XAF</div>   
                            
                            <h4><a href="#">Adobe Photoshop</a></h4>    
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <span>(5.00)</span>
                            </div>
                            <p>Be an Expert in styling Websites and Web Applications</p>
    
                            <div class="course-footer d-lg-flex align-items-center justify-content-between">
                                <div class="course-meta">
                                    <span class="course-student"><i class="bi bi-group"></i>340</span>
                                    <span class="course-duration"><i class="bi bi-badge3"></i>82 Lessons</span>
                                </div> 
                               
                                <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-small">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-lg-4 col-md-6">
                    <div class="course-block">
                        <div class="course-img">
                            <img src="{%static 'assets/images/course/python.jpg'%}" alt="" class="img-fluid">
                        
                        </div>
                        
                        <div class="course-content">
                            <div class="course-price ">10,000 XAF</div>   
                            
                            <h4><a href="#">Python Programming</a></h4>    
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <span>(5.00)</span>
                            </div>
                            <p>Master the Fundamentals and Add life to your web projects</p>
    
                            <div class="course-footer d-lg-flex align-items-center justify-content-between">
                                <div class="course-meta">
                                    <span class="course-student"><i class="bi bi-group"></i>340</span>
                                    <span class="course-duration"><i class="bi bi-badge3"></i>82 Lessons</span>
                                </div> 
                               
                                <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-small">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="course-block">
                        <div class="course-img">
                            <img src="{%static 'assets/images/course/java.jpg'%}" alt="" class="img-fluid">
                            
                        </div>
                        
                        <div class="course-content">
                            <div class="course-price ">9,300 XAF</div>   
                            
                            <h4><a href="#">Java Programming</a></h4>    
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <span>(5.00)</span>
                            </div>
                            <p>Obtain the art of building cross-platform applications</p>
    
                            <div class="course-footer d-lg-flex align-items-center justify-content-between">
                                <div class="course-meta">
                                    <span class="course-student"><i class="bi bi-group"></i>340</span>
                                    <span class="course-duration"><i class="bi bi-badge3"></i>82 Lessons</span>
                                </div> 
                               
                                <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-small">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-4 col-md-6">
                    <div class="course-block">
                        <div class="course-img">
                            <img src="{%static 'assets/images/course/php.png'%}" alt="" class="img-fluid">
                            
                        </div>
                        
                        <div class="course-content">
                            <div class="course-price ">12,000 XAF</div>   
                            
                            <h4><a href="#">PHP Courses</a></h4>    
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <span>(5.00)</span>
                            </div>
                            <p>Discover the Masterclass in Web Development with Python</p>
    
                            <div class="course-footer d-lg-flex align-items-center justify-content-between">
                                <div class="course-meta">
                                    <span class="course-student"><i class="bi bi-group"></i>340</span>
                                    <span class="course-duration"><i class="bi bi-badge3"></i>82 Lessons</span>
                                </div> 
                               
                                <div class="buy-btn"><a href="#" class="btn btn-main-2 btn-small">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-lg-12">
                    <nav class="blog-pagination text-center">
                        <ul>
                          <li class="page-num active" ><a href="{%url 'tutos:listone'%}">1</a></li>
                          <li class="page-num"><a href="{%url 'tutos:listtwo'%}">2</a></li>
                          <li class="page-num"><a href="{%url 'tutos:listthree'%}">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    
</body>
<script src="{%static 'js/whatsapp.js'%}"></script>

</html>
