{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheet_imports.html" %}
    {% include "title" %}
  
</head>
<body class="sub_page">
       <div class="body_bg layout_padding">
     <!-- sales section -->
    <section class="service_section ">
        <div class="container">
          <div class="heading_container">
            <h2>
              Our Popular Courses
            </h2>
          </div>
          <div class="search_container">
                  <input type="text" name="query" placeholder="Search..." class="search_input">
                  <button type="submit" class="search_button"><i class='bx bx-search-alt-2'></i></button>
          </div>
          <div class="container">
            <div class="no_results">
                No results found.
            </div>
            <div class="row">
              <div class="col-xl-4">
                <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <div class="card ">
                        <img src="https://drive.google.com/uc?id=1PSUn1nL7n33sufn8YbousAfHNrqIJOj-" class="card-img-top  custom-img-size" >
                        <div class="card-body">
                          <h4 class="card-title text-center">Visual Studio Code: The #1 IDE as a Software Developer</h4>
                          <p class="card-text">Want to get started in developing projects ? Find out how to setup your favourite IDE and start creating amazing softwares and revolutionary projects to change the real world. Follow this course to have a quick start point as a developer</p>
                          <div class="option">
                            <a href="{%url 'alert:notify-no_course' %}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
                <div class="col-xl-4">
                    <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div class="card">
                            <img src="https://drive.google.com/uc?export=view&id=1qvrJ2_BTZmI4c8A5RBm5UGtkRrV-sskN" class="card-img-top  custom-img-size" >
                            <div class="card-body">
                              <h4 class="card-title text-center">HTML5 Course: Master The Fundamentals Of Web Development</h4>
                              <p class="card-text">If you're looking to build a strong foundation in web development or enhance your existing skills, HTML5 courses are an excellent choice. These courses cover everything from the basics of HTML syntax to more advanced topics like multimedia integration and responsive design.</p>
                              <div class="option">
                            <a href="{%url 'tutos:html_introduction'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div class="card">
                            <img src="https://drive.google.com/uc?id=1tNTCcSiDiDdVWjPoV_S43qRHHbdOas4s" class="card-img-top custom-img-size custom-img-size" >
                            <div class="card-body">
                              <h4 class="card-title text-center">Python 3: Master The Fundamentals Of Programming with Python 3</h4>
                              <p class="card-text">Looking to build a strong foundation in programming or enhance your existing skills? Python 3 courses are an excellent choice. These courses cover everything from the basics of Python syntax to more advanced topics like object-oriented programming and data manipulation.</p>
                              <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div class="card">
                            <img src="https://drive.google.com/uc?id=1p7ibNVNwiAIc0VGnu_5qEmXvETPkxvvY" class="card-img-top custom-img-size" >
                            <div class="card-body">
                              <h4 class="card-title text-center">C Programming: The Foundations Of System Programming</h4>
                              <p class="card-text">C Programming is a low level langueage used in building robust desktop applications and systems. Interested in low level programming language? C Programming course is here to help you sharpen your skills. These courses cover everything from the basics of C syntax to more advanced topics like memory management and data structures.</p>
                              <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div class="card">
                            <img src="https://drive.google.com/uc?id=1v4N_wmBDfpNUWiwZ7wMfAIH-r6MaKZCm" class="card-img-top custom-img-size" style="height: 10.5rem;">
                            <div class="card-body">
                              <h4 class="card-title text-center">Photoshop Courses: Become a Rising Star in Image Editing</h4>
                              <p class="card-text">Photoshop is a powerful software used for image editing, graphic design, and digital art. If you want to become proficient in using Adobe Photoshop and develop a strong foundation in image manipulation and graphic design, enrolling in a Photoshop course can be highly beneficial.</p>
                              <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-4">
                  <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                      <div class="card">
                          <img src="https://drive.google.com/uc?id=1zZ7kvnyrMC3zYEKkb6sDqa2vUCtEYc15" class="card-img-top custom-img-size" >
                          <div class="card-body">
                            <h4 class="card-title text-center">Django Courses: Masterclass Web Programming with Python</h4>
                            <p class="card-text">Django is a popular web framework written in Python that simplifies the process of building robust and scalable web applications. If you want to become proficient in Django and develop a strong foundation in web development using Python, enrolling in a Django course can be highly beneficial.</p>
                            <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                          </div>
                        </div>
                  </div> 
              </div>
              <div class="col-xl-4">
                <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <div class="card">
                        <img src="https://drive.google.com/uc?id=1kcTbc41RdXrfCbvBW_j5gzf54z7CjVMN" class="card-img-top custom-img-size" style="height: 10.3rem;">
                        <div class="card-body">
                          <h4 class="card-title text-center">CSS 3 Courses: Be an Expert in Styling Websites and Web Applications</h4>
                          <p class="card-text">CSS 3 is a Web technology used in styling a website or a web project. If you want to become an expert in CSS and develop a strong foundation in web styling with CSS, enrolling in a CSS3 courses can be highly beneficial.</p>
                          <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                        </div>
                      </div>
                </div> 
            </div>
            <div class="col-xl-4">
              <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                  <div class="card">
                      <img src="https://drive.google.com/uc?id=1dFEOT-xlZs6M2_duIEbBQr3BlQML6afF" class="card-img-top custom-img-size" style="height: 10.3rem;">
                      <div class="card-body">
                        <h4 class="card-title text-center">Java Programming Courses: Have a Solid Foundation in Java Programming</h4>
                        <p class="card-text">The Comprehensive Java Programming course is designed to provide a solid foundation in the Java programming language. Whether you are a beginner with no prior coding experience or an experienced programmer looking to expand your skill set, this course will take you through the fundamental concepts and advanced topics of Java programming.</p>
                        <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                      </div>
                    </div>
              </div> 
          </div>
          <div class="col-xl-4">
            <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <div class="card">
                    <img src="https://drive.google.com/uc?id=1oQCz_irTxT11YV-k54ygzuIhiH-fCrp_" class="card-img-top custom-img-size" style="height: 11rem;">
                    <div class="card-body">
                      <h4 class="card-title text-center">Javascript Courses: Add some Life to your Web Projects</h4>
                      <p class="card-text">The Comprehensive JavaScript Development course is designed to provide a comprehensive understanding of the JavaScript programming language. Whether you are a beginner with no prior coding experience or an experienced developer looking to enhance your JavaScript skills, this course will take you through the foundational concepts and advanced techniques of JavaScript programming.</p>
                      <div class="option">
                            <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
                            <a href="#" class="btn text-center">Read More</a>
                          </div>
                    </div>
                  </div>
            </div> 
        </div>
        <div class="col-xl-4">
          <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <div class="card ">
                  <img src="https://drive.google.com/uc?id=1w-2IiRSndmyHBzMyRUIWRFTa2VD0DfW2" class="card-img-top  custom-img-size" >
                  <div class="card-body">
                    <h4 class="card-title text-center">PHP Courses: PHP for Web Development for All</h4>
                    <p class="card-text">PHP (Hypertext Preprocessor) is a widely-used open-source scripting language specifically designed for web development. If you aspire to become proficient in PHP and build dynamic web applications, enrolling in a PHP course is the ideal way to achieve your goals. This comprehensive course is designed to equip you with the knowledge and skills necessary to master PHP and create robust and interactive web solutions.</p>
                    <div class="option">
                      <a href="{%url 'tutos:vscode' %}" class="btn text-center">Audit Course</a>
                      <a href="#" class="btn text-center">Read More</a>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <div class="col-xl-4">
        <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div class="card ">
                <img src="https://drive.google.com/uc?id=1i5Y4yPsrriE8vqOvc7tCoLQhooV-wMIU" class="card-img-top  custom-img-size" >
                <div class="card-body">
                  <h4 class="card-title text-center">Algorithm & Data Structures Courses: The Father of Programming</h4>
                  <p class="card-text">Algorithms and data structures are fundamental concepts in computer science that underpin efficient problem-solving and software development. To become proficient in designing and implementing algorithms and data structures, enrolling in an Algorithms & Data Structures course is highly recommended. This comprehensive course is designed to provide you with a deep understanding of algorithms and data structures and equip you with the skills necessary to develop efficient and scalable software solutions.</p>
                  <div class="option">
                    <a href="{%url 'tutos:vscode' %}" class="btn text-center">Audit Course</a>
                    <a href="#" class="btn text-center">Read More</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="col-xl-4">
      <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div class="card">
              <img src="{% static 'images/React-Native.png'%}" class="card-img-top  custom-img-size" >
              <div class="card-body">
                <h4 class="card-title text-center">React Native Courses: Build Cross Platform Applications</h4>
                <p class="card-text">This course is designed to equip you with the skills and knowledge needed to develop high-quality mobile applications using the React Native framework. Whether you are a web developer looking to expand into mobile app development or an aspiring mobile app developer, this course will provide you with a solid foundation and practical experience in building cross-platform apps.</p>
                <div class="option">
              <a href="{%url 'alert:notify-no_course'%}" class="btn text-center">Audit Course</a>
              <a href="#" class="btn text-center">Read More</a>
            </div>
              </div>
            </div>
      </div>
  </div>
  
          </div>
        </div>
    </section>
</div>
</body>
</html>

