{%load static%}
<div class="sidebar">
    <ul class="menu">
        <div class="part">
            <h3><a href="{%url 'tutos:vscode_introduction'%}">Introduction To VSCode</a></h3>
            <li>What is vscode</li>
            <li>How To Download VScode</li>
        </div>
        <div class="part">
            <h3><a href="{%url 'tutos:vscode_extension'%}">VSCode Extensions</a></h3>
            <li>What is an extension</li>
            <li>What is VScode Marketplace</li>
            <li>How to Download Extensions</li>
            <li>List of Important Extensions to Get Started</li>
        </div>
        <div class="part">
            <h3><a href="{%url 'tutos:html_textformating'%}">VSCode Account Sync</a></h3>
            <li>How to Synchronize your Gtihub Account</li>
            <li>How to Synchronize your Microsoft Account</li>
            <li>How to Export and Import VScode Extensions</li>
        </div>
        
    </ul>
</div>


