
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'title'%}
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
    {%include 'password_reset.html.html'%}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Something went Wrong</h3>
            <p>There is a password mismatch</p>
            <button onclick="closeModal()">❌</button>
        </div>
    </div>
</body>
{% block JavaScript %}
<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
        window.location.href = "{% url 'user_auth:pass_reset' %}"
    }

</script>
{% endblock  %}
</html>
