{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'title'%}
    {%include 'stylesheet_imports.html'%}
</head>
<body>
    <div class="hero_area">
        {%include 'navigation.html'%}
        {%include 'slider.html'%}
    </div>
    {% include 'about-w.html' %}
    <div class="hero_area">
       

    </div>
    {% include 'service-w.html' %}
    {%include 'contact-w.html' %}

    {%include 'footer'%}
</body>
{%include 'javascripts.html'%}
</html>