{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "stylesheet_imports.html" %}
    {% include "title" %}
</head>
<body class="sub_page">
       <div class="body_bg layout_padding">
     <!-- sales section -->
     <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
            Available Assignments and CAs
          </h2>
        </div>
        <div class="search_container">
                <input type="text" name="query" placeholder="Search..." class="search_input">
                <button type="submit" class="search_button"><i class='bx bx-search-alt-2'></i></button>
        </div>
      </div>
      <div class="container">
        <div class="row">
           <div class="col-md-6">
            <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <div class="img-box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <img src="{%static 'images/Java.jpg'%}" alt="" style
                width="50%";
                >
              </div>
              <h4>
                Java Programming 2
              </h4>
              <p>
                <br>
                Java Programming 2 Solution are Available on our platforms. <br>
                This CA is to ask the student to create various projects written with Java programming language
                <br>The student have to create a user interface in each given projects.
                <br>
                Price: 7.000 XAF <br>
              </p>
              <div class="purchase_option">
                <a class="buy" href="https://s.htr.cm/rMR7">
                  Buy
                </a>
                <a class="cart" href="https://s.htr.cm/rMR7">
                  More Info
                </a>
              </div>
            </div>

            
          </div> <!--End of item-->
          <div class="col-md-6">
            <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <div class="img-box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <img src="{%static 'images/Java.jpg'%}" alt="" style
                width="50%";
                >
              </div>
              <h4>
                Java Programming 2
              </h4>
              <p>
                <br>
                Java Programming 2 Solution are Available on our platforms. <br>
                This CA is to ask the student to create various projects written with Java programming language
                <br>The student have to create a user interface in each given projects.
                <br>
                Price: 7.000 XAF <br>
              </p>
              <div class="purchase_option">
                <a class="buy" href="https://s.htr.cm/rMR7">
                  Buy
                </a>
              </div>
            </div>
          </div> <!--End of item-->

          <div class="col-md-6">
            <div class="box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <div class="img-box"  style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <img src="{%static 'images/Java.jpg'%}" alt="" style
                width="50%";
                >
              </div>
              <h4>
                Java Programming 2
              </h4>
              <p>
                <br>
                Java Programming 2 Solution are Available on our platforms. <br>
                This CA is to ask the student to create various projects written with Java programming language
                <br>The student have to create a user interface in each given projects.
                <br>
                Price: 7.000 XAF <br>
              </p>
              <div class="purchase_option">
                <a class="buy" href="https://s.htr.cm/rMR7">
                  Buy
                </a>
              </div>
            </div>

            
          </div> <!--End of item-->

                <div class="no_results">
                    No results found.
                </div>
          

        </div>
      </div>
      <br>
    <br>
    </section>
</div>
</body>
</html>