{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'title'%}
    {%include 'stylesheet_imports.html'%}
</head>
<body class="sub_page">
  <form class="admin_pane" action="">
  <div class="user_data">
    <span>My Work Post</span>
    <input type="text" placeholder="Course Title" required/>
    <select name="" id="">
      <option value="">Select Price</option>
      <option value="">2000 FCFA</option>
      <option value="">2500 FCFA</option>
      <option value="">3000 FCFA</option>
      <option value="">3500 FCFA</option>
      <option value="">4000 FCFA</option>
      <option value="">4500 FCFA</option>
      <option value="">5000 FCFA</option>
    </select>
    <input type="file" accept="application/pdf" style="background-color:transparent;">
    <div class="submition">
      <button onclick="convertToHtmlFile()">Submit</button>
    </div>
  </div>  
  </form>
</body>
{%include 'javascripts.html'%}
</html>