{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include 'title'%}
    {%include 'stylesheet_imports.html'%}
    <script>
        function toggleMenu() {
            var menu = document.querySelector('.menu');
            menu.classList.toggle('active');
        }
    </script>

</head>
<body>
    <div class="c-container">
    
            {%include 'html_header.html'%}
        
        <section class="course_content">
        
                {%include 'html_nav.html'%}
                {% block content %}
                    {% include 'html_course_One.html'%}
                {% endblock%}
        </section>
    </div>
    {%include 'footer'%}
</body>
{%include 'javascripts.html'%}
</html>  